<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Edit Customer</title>
</head>
<body background="https://img.freepik.com/free-photo/abstract-brown-paint-texture-minimal-background_53876-96899.jpg?t=st=1649064857~exp=1649065457~hmac=99f777f2ff9fcbc23acbc059df0881a06c2f9fb6bbd43431a1783b8f343a7bd4&w=1380.jpg">
<div align="center" >
    <h2>Edit company</h2>
    <form action="save" th:action="@{/company/update/{id}(id=${company.id})}" th:object="${company}" th:method="post">
        <table border="5" cellpadding="10" style="background-color: rosybrown">
            <tr>
                <td><label for="companyName">Enter name: </label></td>
                <td><input type="text" th:field="*{companyName}" id="companyName"/></td>
            </tr>
            <tr>
                <td><label for="locatedCompany">Enter locatedCompany: </label></td>
                <td><input type="text" th:field="*{locatedCompany}" id="locatedCompany"/></td>
            </tr>
            <tr>
                <td cosplan="5"><input type="submit" value="Update!" style="background-color: burlywood"/>
                </td>
            </tr>

        </table>
    </form>
</div>
<div class="d-grid gap-1" style="color: dodgerblue">
    <center>
    <a href="/company"><button type="button" class="btn btn-warning" style="background-color: burlywood">Back</button></a>
    </center>
</div>

</body>
</html>