<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Show course</title>
</head>
<body background="https://img.freepik.com/free-photo/paper-texture-colorful-abstract-background_53876-98401.jpg?t=st=1649064286~exp=1649064886~hmac=50630bbacf5aef577b690743d63394a98c83b479d1bc5fdb5649377a74dfe126&w=900.jpg">
<div align="center" >
    <h2>Show course</h2>
    <form action="save" th:action="@{/course/cour/{id}(id=${course.id})}" th:object="${course}" th:method="get">
        <table border="5" cellpadding="10" style="background-color: bisque">
            <tr>
                <td><label for="companyName">name: </label></td>
                <td><input type="text" th:field="*{courseName}" id="companyName"/></td>
            </tr>
            <tr>
                <td><label for="duration">Duration: </label></td>
                <td><input type="text" th:field="*{duration}" id="duration"/></td>
            </tr>
            <tr>
                <td><label for="company.id">CompanyId: </label></td>
                <td><input type="text" th:field="*{company.id}" id="company.id"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="d-grid gap-1" style="color: dodgerblue">
    <center>
    <a href="/course"><button type="button" class="btn btn-warning" style="background-color: burlywood">COURSE</button></a>
    </center>
</div>
</body>
</html>