<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html  lang="en"  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>New Group</title>
</head>
<body background="https://img.freepik.com/free-photo/black-and-white-background-in-marble-paint-style_53876-104399.jpg?t=st=1649064124~exp=1649064724~hmac=d71b5b44887acf8a3f9ed659ff49c2923453b5919fb74fa7144f3b9a25e17665&w=900.jpg">
<div align="center">
    <h2>New Group</h2>
    <form action="#" method="post" th:action="@{/group}" th:object="${group}">
        <table border="5" cellpadding="10" style="background-color: burlywood">
            <tr>
                <td><label for="name">groupName: </label></td>
                <td><input type="text" th:field="*{groupName}" id="name"/></td>
            </tr>
            <tr>
                <td><label for="dateOfStart">dateOfStart: </label></td>
                <td><input type="text" th:field="*{dateOfStart}" id="dateOfStart"/></td>
            </tr>
            <tr>
                <td><label for="dateOfFinish">dateOfFinish: </label></td>
                <td><input type="text" th:field="*{dateOfFinish}" id="dateOfFinish"/></td>
            </tr>
                <td><label for="courseID">courseID: </label></td>
                <td><input type="text" th:field="*{courses}" id="courseID"/></td>
            </tr>
            </tr>
            <td cosplan="5"><input type="submit" style="background-color: burlywood" value="Save!"/>
            </td>
            </tr>
        </table>
    </form>
</div>
<div class="d-grid gap-1" style="color: dodgerblue">
    <center>
    <a href="/group"><button type="button" class="btn btn-warning" style="background-color: burlywood">Back</button></a>
    </center>
</div>
</body>
</html>